@model StudentVM

@{
    ViewData["Title"] = "Create New Student";
}

<h2>Yeni Şagird əlavə et</h2>

<form asp-action="Create" method="post" class="col-md-5">
    <div class="form-group">
        <label asp-for="StudentNumber" class="control-label">Şagird Nömrəsi</label>
        <input asp-for="StudentNumber" class="form-control" />
        <span asp-validation-for="StudentNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Şagird Adı</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">Şagird Soyadı</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GradeLevel" class="control-label">Sinifi </label>
        <input asp-for="GradeLevel" class="form-control" type="number" />
        <span asp-validation-for="GradeLevel" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Əlavə et</button>
</form>